nav.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #ffffff30;

	> a {
		padding: 0.5rem;
		border-bottom: 5px solid transparent;

		&:hover {
			background-color: #ffffff10;
		}

		&.active {
			background-color: #ffffff30;
			border-bottom: 5px solid #f5f5f5 !important;
		}

		&+& {
			border-left: 1px solid #be131330;
		}

		img {
			height: 50px;
			width: auto;
		}
	}
}
