nav.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	> a {
		padding: 0.5rem;
		border-bottom: 2px solid transparent;
		&.active {
			border-bottom: 2px solid #ffffff30 !important;
		}

		img {
			height: 50px;
			width: auto;
		}

		>span {

		}
	}
}
